<div class="container">
  <!-- Heading -->

  <h1>{{ isSignup ? 'SIGN UP' : 'SIGN IN' }}</h1>
  <h2>HeoPT 의 AI 자기소개서</h2>

  
  <!-- Links -->
  <ul class="links">
    <li>
      <a href="#" (click)="onSigninClick($event)">로그인</a>
    </li>
    <li>
      <a href="#" (click)="onSignupClick($event)">회원가입</a>
    </li>
    <li>
      <a href="#" (click)="onResetClick($event)">RESET</a>
    </li>
  </ul>
  
  <!-- Form -->
  <form (ngSubmit)="onSubmit()">
    <!-- email input -->
    <div [ngClass]="{'signup-input__block': isSignup, 'first-input__block': !isSignup}" class="first-input input__block">
       <input type="email" placeholder="Email" class="input" [(ngModel)]="username" name="username" />
    </div>
    <!-- password input -->
    <div class="input__block">
       <input type="password" placeholder="Password" class="input" [(ngModel)]="password" name="password" />
    </div>
    <!-- sign in button -->
    <button type="submit" class="signin__btn">
      {{ isSignup ? 'Sign up' : 'Sign in' }}
    </button>
  </form>
</div>
<footer>
  <p>
    Thank you for watching
    <i class="fa fa-heart"></i> 
    <i class="fa fa-heart"></i> 
    <i class="fa fa-heart"></i> 
  </p>
</footer>
